# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# C extensions
*.so

outputs

# pyenv
.python-version

/data
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
*.npy
*.onnx
*.engine
work_dirs/
